@import url('https://fonts.googleapis.com/css?family=Arimo');
nav {
  background-color: rgba(43, 43, 43, 0.0); 

  font-family: Arimo;
  margin-bottom: 20%;
  font-size: 30px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.neon-text:hover {
      animation: neon-animation 1s linear infinite;
    }

    /* Анимация мерцания */
    @keyframes neon-animation {
      0% { text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #00e6e6, 0 0 40px #00e6e6, 0 0 50px #00e6e6, 0 0 60px #00e6e6; }
      50% { text-shadow: none; }
      100% { text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #00e6e6, 0 0 40px #00e6e6, 0 0 50px #00e6e6, 0 0 60px #00e6e6; }
    }